@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato-Light.ttf');
}

// Variables
$bg-answer: #565656;
$bg-answer-hover: #666666;
$bg-main: #EEEEEE;
$bg-quiz-body: #212121;
$contrast-color: #E9B000;

body {
  background: $bg-main;
  font-family: 'Lato', 'Helvetica', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
}

.align-center {
  text-align: center;
}

.answer {
  background: $bg-answer;
  cursor: pointer;
  list-style: none;
  margin: 5px 0;
  padding: 10px;
}

.answer:hover {
  background: $bg-answer-hover;
}

.button {
  background: $bg-main;
  border: none;
  color: black;
  cursor: pointer;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 15px;
}

.button:disabled,
.button:disabled:hover {
  background: $bg-main;
  color: #DDD;
  cursor: not-allowed;
}

.button:hover,
.button:focus,
.button:active,
.button:focus:active {
  background: $contrast-color;
  outline: none;
}

.button-holder {
  margin-top: 20px;
  text-align: center;
}

.contrast-color {
  color: $contrast-color;
}

.fa-trophy {
  margin: 0 20px;
}

.form-input {
  background: transparent;
  border: none;
  border-bottom: 1px solid white;
  color: #DDD;
  display: block;
  font-size: 16px;
  margin: 30px auto;
  width: 60%;
}

.form-input:focus {
  outline: none;
}

.float-right {
  float: right;
}

.highscore {
  margin: 30px;

  ul {
    margin: auto;
    width: 50%;
  }
}

.home p {
  text-align: center;
}

.panel {
  margin: auto;
  padding: 20px 0;
  width: 70%;
}

.panel-header {
  background: white;
  border: 1px solid $bg-quiz-body;
  padding: 0 10px;
  text-align: center;
}

.panel-body {
  background: $bg-quiz-body;
  color: #DDD;
  padding: 20px;
}

.ranking-number {
  float: left;
  width: 40px;
}
